# don't track these personal folders

__pycache__/
test/
maan/
.DS_Store

# ignore notebooks
*.ipynb
**/.ipynb_checkpoints
**/.vscode

# don't upload test data
*.png
*.jpg
*.jpeg
*.npy
*.exr
*.ppm
*.tiff
*.tif
*.CR2

# keras stuff
*.hdf5
*.h5

# C output files
*.o