cycler==0.10.0
future==0.17.1
imageio==2.5.0
kiwisolver==1.1.0
matplotlib==3.1.0
numpy==1.16.4
OpenEXR==1.3.2
Pillow==9.0.0
PyEXR==0.3.6
pyparsing==2.4.0
python-dateutil==2.8.0
scipy==1.3.0
six==1.12.0
vec_noise==1.1.4
opencv-python==4.1.0.25
bezier==0.9.0